modules = ["php-8.2"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["php82", "php82Packages.composer", "mysql80"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Laravel Server"

[[workflows.workflow]]
name = "Laravel Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php artisan serve --host=0.0.0.0 --port=5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 40353
externalPort = 3000
